<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    body{
      background-color:#f5f5dc;
    }
     .navbar-brand {
      font-family: arial black;
      padding: 50px 0 ;
      font-size: 45px;
    }
    
    ul {
      margin-left: 90px;
      padding-bottom: 20px;
      font-size: 20px;
    }
    
    .container {
      font-size: 20px;
    }
    
    .btn {
      margin: 0 0 30px 10px ;
      padding: 10px 20px;
      font-size: 15px;
    }
    
    
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  </nav>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Messages</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
  </ul>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
